@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&family=Poppins&family=Rubik:ital,wght@0,300;1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ms Madi', cursive;
}
nav{
    background-color: red;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    height: 10vh;
    width: 10vh;
}